In [37]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import datetime

In [6]:
day='2019-12/02'
url='http://www.419scam.org/emails/{}/index.htm'.format(day)

In [7]:
response=requests.get(url)

In [8]:
response

In [9]:
html=response.text

In [10]:
soup=BeautifulSoup(html, 'html.parser')

In [11]:
all_links=soup.find_all('a')

In [18]:
all_links[98]['href']

'01360464.35.htm'

In [23]:
re.match(r'\d{8}\.\d{1,2}\.htm',all_links[99]['href'] )

In [24]:
email_urls=[link for link in all_links if re.match(r'\d{8}\.\d{1,2}\.htm',link['href'] )]

In [28]:
day_emails=[[email.text, email['href']] for email in email_urls]

In [31]:
ds=pd.DataFrame(day_emails)

In [33]:
ds.columns=['Link Text', 'URL']

In [35]:
ds['Date']=day

In [36]:
ds

,Link Text,URL,Date
0,"We giving out up to $ 10,000,000 at 1 % intere...",01360214.37.htm,2019-12/02
1,RE: IMPORTANT BUSINESS TRANSACTION ....,01360223.3.htm,2019-12/02
2,Thank you[f,01360225.17.htm,2019-12/02
3,Greetings,01360226.5.htm,2019-12/02
4,Donation for you!!!,01360232.1.htm,2019-12/02
...,...,...,...
94,help!!!,01360920.10.htm,2019-12/02
95,Outlook Notification Message!!!,01360927.3.htm,2019-12/02
96,"Attention consignment owner,",01360931.1.htm,2019-12/02
97,URGENT MASSAGE FROM JOYCE SAMUEL,01360934.13.htm,2019-12/02
98,"Dearest In Christ,",01360994.10.htm,2019-12/02

In [39]:
start_date=datetime.datetime.strptime('2019-12-01', '%Y-%m-%d')

In [44]:
all_days=[start_date+datetime.timedelta(i) for i in range(62)]

In [51]:
all_day_vals=[day.strftime('%Y-%m/%d') for day in all_days]

In [52]:
all_dfs=[]
for day in all_day_vals:
    url='http://www.419scam.org/emails/{}/index.htm'.format(day)
    response=requests.get(url)
    html=response.text
    soup=BeautifulSoup(html, 'html.parser')
    all_links=soup.find_all('a')
    email_urls=[link for link in all_links if re.match(r'\d{8}\.\d{1,2}\.htm',link['href'] )]
    day_emails=[[email.text, email['href']] for email in email_urls]
    ds=pd.DataFrame(day_emails)
    ds.columns=['Link Text', 'URL']
    ds['Date']=day
    
    all_dfs.append(ds)

In [53]:
len(all_dfs)

62

In [54]:
pd.concat(all_dfs)

,Link Text,URL,Date
0,"We giving out up to $ 10,000,000 at 1 % intere...",01359457.14.htm,2019-12/01
1,hello,01359461.1.htm,2019-12/01
2,"Dear Friend,",01359462.15.htm,2019-12/01
3,"Good Day My Dearest,",01359465.10.htm,2019-12/01
4,"Dear Winner, Your Secret Pin Code Number BMW:2...",01359466.1.htm,2019-12/01
...,...,...,...
66,FIRST BANK PLC INTERNATIONAL REMITTANCE DEPART...,01383830.2.htm,2020-01/30
0,Congratulation: You're a winner!,01383833.1.htm,2020-01/31
1,"Hello,",01383834.2.htm,2020-01/31
2,Re: Exchange Of Account / Are You Aware ??? 30...,01383837.1.htm,2020-01/31
3,CALL ME.............................,01383838.3.htm,2020-01/31