In [145]:
## Run the following code for data prep
import pandas as pd 

df=pd.read_csv('movie_ratings.csv' )

first_genre=df['genres'].str.split('|', expand=True)[0]
df['main_genre']=first_genre

df['title']=df['title'].str.strip()
df['year']=df['title'].str[-5:-1]
df=df[df['year'].str.isnumeric()]
df['year']=pd.to_numeric(df['year'])
df

,movieId,title,genres,rating,main_genre,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240,Adventure,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.211977,Adventure,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,3.151040,Comedy,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393,Comedy,1995
4,5,Father of the Bride Part II (1995),Comedy,3.064592,Comedy,1995
...,...,...,...,...,...,...
26739,131254,Kein Bund für's Leben (2007),Comedy,4.000000,Comedy,2007
26740,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,4.000000,Comedy,2002
26741,131258,The Pirates (2014),Adventure,2.500000,Adventure,2014
26742,131260,Rentun Ruusu (2001),(no genres listed),3.000000,(no genres listed),2001
26743,131262,Innocence (2014),Adventure|Fantasy|Horror,4.000000,Adventure,2014

What are the yearly rating averages?

In [136]:
#sort table by year
#df.sort_values(['year']).set_index(['year'])
year_avg=df.groupby('year')['rating'].mean()
year_avg

year
1891    3.000000
1893    3.375000
1894    3.071429
1895    3.125000
1896    3.183036
          ...
2011    3.162567
2012    3.104176
2013    3.145056
2014    3.122809
2015    2.813146
Name: rating, Length: 118, dtype: float64

Which years have the top 3 rating averages. Are you surprised to see these years? What can potentially explain the fact that these years have the highest averages ?

In [138]:
#top 3 most rated movies
top_rating = year_avg.sort_values(ascending=False)[:3]
top_rating

year
1901    5.000000
1898    3.850000
1902    3.738189
Name: rating, dtype: float64

Sort years based the number of films produced. Is there a pattern? What can we say about the movie production rate over the years.

In [90]:
films_produced=df.set_index(['year', 'title']).count(level='year')
most_films_produced=films_produced.sort_values(by=['movieId'], ascending=False)
most_films_produced

#another way to write it....
df.year.value_counts()

2009    1101
2011    1006
2012     997
2013     990
2008     968
        ...
1899       1
1905       1
1902       1
1893       1
1903       1
Name: year, Length: 118, dtype: int64

Which genres are most liked ?

In [105]:
#df.sort_values(by=['main_genre'], ascending=True)
#liked_genre=df.groupby('year')['main_genre']
#liked_genre
genre_count = df.main_genre.value_counts()
genre_count

Drama                 7709
Comedy                6668
Action                3465
Documentary           2173
Crime                 1586
Horror                1366
Adventure             1330
Animation              560
Children               405
Thriller               275
(no genres listed)     233
Western                207
Sci-Fi                 162
Romance                143
Mystery                139
Fantasy                135
Musical                 92
Film-Noir               38
War                     35
IMAX                     1
Name: main_genre, dtype: int64

Which genres are most popular (in terms of production) ?

In [165]:
popular_genres=df.groupby(['year', 'main_genre']).size().sort_values(ascending=False)
popular_genres[:10]

year  main_genre
2009  Drama         291
2008  Drama         268
2011  Drama         265
2007  Drama         264
2013  Drama         261
2009  Comedy        260
2012  Drama         250
2010  Drama         249
2006  Drama         244
2012  Comedy        233
dtype: int64

**Open Ended:** You are considering to invest in a movie. Having this dataset, try to narrow your options to a single genre. That's find the find the genre of movies that are more "investible". 

You can consider a few of parameters: 
 - average rating: it can be considered as the likelihood that the movie will be better received considering some genres have better ratings than others.  
 - number of movies: You can also consider the competition. 
 - changes over the years: Another aspect to explore is whether these genres are getting better or worse over the (recent) years. 
 - rating volatility (standard deviation): Also think about whether you are a risk taker or risk averse. Do you want to invest in a higly volitale genre (in terms of its ratings) or do you prefer to invest in a stable genre.   
 
While there are no wrong answers here, please support your decision with appropriate data analysis using pandas.

In [142]:
year_avg.head()

year
1891    3.000000
1893    3.375000
1894    3.071429
1895    3.125000
1896    3.183036
Name: rating, dtype: float64

In [151]:
df.count()

movieId       26722
title         26722
genres        26722
rating        26722
main_genre    26722
year          26722
dtype: int64

In [193]:
df.groupby(['year', 'main_genre', 'rating']).size().sort_values(ascending=False)

year  main_genre          rating
2012  Documentary         3.500000    28
2013  Drama               3.500000    27
                          3.000000    27
2012  Drama               3.500000    25
                          3.000000    23
                                      ..
2002  Documentary         3.367089     1
                          3.375000     1
                          3.400000     1
                          3.445783     1
1891  (no genres listed)  3.000000     1
Length: 21863, dtype: int64

In [190]:
df.groupby('year')[['rating']].std().sort_values(by=['year'], ascending=False)

        rating
year
2015  0.778305
2014  0.716893
2013  0.746526
2012  0.743327
2011  0.697100
...        ...
1896  0.359867
1895  1.237437
1894  0.505076
1893       NaN
1891       NaN

[118 rows x 1 columns]

I like to always invest RISKY.